::-webkit-scrollbar {
   width: 5px;
}
::-webkit-scrollbar-track {
   background: #08070f;
}
::-webkit-scrollbar-thumb {
   background: rgba(255, 255, 255, 0.301);
   border-radius: 50px;
}
body {
   font-family: 'Ubuntu Mono', monospace;
   background-color: #08070f;
   color: white;
   overflow-x: hidden;
}
a {
   text-decoration: none;
}
a:hover {
   color: blueviolet!important;
}
p {
   font-family: 'Roboto', sans-serif;
}

/* navbar css */
#navbar {
   transition: all .5s;
}
#navbar .links {
   margin: 1em;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
#navbar .links a {
   color: rgba(255, 255, 255, 0.911);
   margin: 0 10px;
   text-align: center;
}
#navbar span {
   color: rgba(255, 255, 255, 0.301);
}

/* main css */
#content .section {
   margin: 3em 1em;
}
#content .wrapper {
   margin: 0 1em;
   text-align: justify;
   text-justify: inter-word;
}
#content #hello img {
   width: 25%;
   border-radius: 50%;
   border: 5px solid rgb(24, 24, 24);
}

/* footer css */
#footer {
   margin-top: 1em;
   height: 2em;
   text-align: center;
   color: rgba(255, 255, 255, 0.301)
}
#footer a {
   color: rgba(255, 255, 255, 0.301)
}

@media (max-width:710px) {
   /*#navbar {
      width: 100vh;
      position: absolute;
      vertical-align: top;
      transform: translate(100%, 0) rotate(90deg);
      transform-origin: 0 0;
      top: 0;
      right: 0;
   }*/
}